<p></p>
<nav>
  <h1 class="text-center">Edit a cocktail</h1>
</nav>

<div class="container col-6">
  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="row justify-content-center">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>
</div>
